body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
}

.search-bar input {
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.login button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.login button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
