/* style.css */

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 120px;
}

/* Centering the search bar in the header */
.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
}

/* Aligning the logo and profile section */
.logo, .user-profile {
    flex-basis: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile a {
    text-decoration: none;
    color: #007aff;
    font-weight: bold;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 60px;
    bottom: 0;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Main Content Area */
main {
    margin-left: 220px; /* Offset by the width of the sidebar */
    padding: 20px;
}

.featured-video .video-player {
    background-color: #000;
    padding: 10px;
    color: #fff;
    margin-bottom: 30px;
}

.featured-video img {
    width: 100%;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.video-card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

.video-card img {
    width: 100%;
    height: auto;
}

.video-card h3 {
    padding: 10px;
    font-size: 18px;
    color: #333;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.socials img {
    width: 30px;
    margin: 0 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        display: none; /* Hide the sidebar on smaller screens */
    }

    main {
        margin-left: 0;
        padding: 20px;
    }

    .video-grid {
        justify-content: center;
    }

    header {
        flex-direction: column;
    }

    .search-bar {
        margin: 10px 0;
    }
}
